html {
  font-size: 15.9999984px;
  line-height: 24px;
  background: url(zongo-eyes.jpg) no-repeat center 15% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: sans-serif;
  color: #F9DA00;
  margin: 0;
}
a {
  color: #F9DA00;
}
h1 {
  margin: 0;
  padding: 8px;
  margin-left: -1em;
  padding-left: 1em;
  font-size: 36px;
  border: 1px solid rgba(0, 176, 0, 0.5);
  border-right: 0;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.container {
  padding: 1em;
  padding-top: 0;
  padding-right: 0;
}
button.big-button {
  margin-top: 1em;
  border: 1px solid rgba(0, 176, 0, 0.5);
  color: #F9DA00;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  margin-right: 32px;
  padding: 0 15.9999984px;
  /* Disable Disable long-touch/taphold text selection
     * Cf. https://stackoverflow.com/a/11237968/348867
     */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#tapTempoButton {
  margin-top: 0;
}
.clear {
  clear: both;
}
.param-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: auto;
  min-width: 0;
}
.param-group {
  flex-grow: 1;
  float: left;
  border: 1px solid rgba(0, 176, 0, 0.5);
  background-color: black;
  background: rgba(0, 0, 0, 0.7);
  margin-right: 15.9999984px;
  margin-top: 24px;
}
.param-group h2 {
  font-size: 24px;
  margin-top: 0;
  background: rgba(0, 176, 0, 0.5);
  padding: 0.3em;
  padding-left: 16px;
}
.param-group label {
  display: block;
  line-height: 24px;
}
.param-group label,
.param-group input,
.param-group canvas {
  margin: 0 1em;
}
.param-group canvas {
  margin-top: 1em;
  border: 1px solid silver;
}
.param-group input[type=range] {
  vertical-align: bottom;
  margin-left: 0;
}
.param-group .delayFactorLabel {
  display: inline-block;
  margin: 0;
}
footer {
  margin-left: -16px;
  padding-left: 15.9999984px;
  margin-top: 24px;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(0, 176, 0, 0.5);
  border-bottom: 1px solid rgba(0, 176, 0, 0.5);
}
footer p.help-text {
  float: left;
}
footer p.credit {
  float: right;
  margin-top: 1em;
  size: 12px;
  vertical-align: middle;
  position: relative;
  padding-right: 118px;
}
footer p.credit img {
  position: absolute;
  top: -30px;
  right: 16px;
}
.clear {
  clear: both;
}
.patch-selection label {
  display: inline;
}
#tapTempoValue {
  margin-left: 1em;
}
#tapTempoValue,
#tapTempoUnit {
  font-family: monospace;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 16px;
    padding: 1px;
    line-height: 24px;
  }
  .container {
    padding: 0;
  }
  .param-group {
    margin: 0;
  }
  .param-group h2 {
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 0;
  }
  .param-group label {
    display: inline-block;
    margin: 0 0.4em;
  }
  .param-group input {
    margin: 0 0.1em;
  }
  .param-group p {
    margin: 0;
  }
  .param-group canvas {
    margin: 5px 5px 0 5px;
  }
  .patch-selection h2 {
    margin-bottom: 5px;
  }
  .patch-selection p {
    display: inline;
  }
  button.big-button {
    margin: 5px;
  }
  footer {
    margin-top: 0;
  }
  footer p {
    margin: 0 5px;
  }
}
